[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000117
	datalad-id = 0dd039f8-892d-11e8-ac72-0242ac120024
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds000117
